body {
    font-family: Arial, sans-serif;
}

.admin-dashboard {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    /*padding: 10px;*/
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.sidebar .logout-btn {
    background-color: #e74c3c;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
}

.sidebar .logout-btn:hover {
    background-color: #c0392b;
}

.main-content {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    margin: 0 auto; /* Center the main content */
    max-width: 1200px; /* Add a max-width to constrain the content */
}

.dashboard-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold; /* Add this line to make the text bold */
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-section {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3498db;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

th, td {
    text-align: left;
}

/* Styling for the form with id 'create-service-staff-form' */
#create-service-staff-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#create-service-staff-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#create-service-staff-form input[type="text"],
#create-service-staff-form input[type="email"],
#create-service-staff-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

#create-service-staff-form button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#create-service-staff-form button:hover {
    background-color: #3498db;
}

.create-service-staff-section {
    margin-top: 20px;
}
